</> Bash

#=====FRONTEND =====

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local



#=====BACKEND=====


__pycache__/
*.py[cod]
*$py.class


venv/
.env/
.env


.env
.env.*

*.log


build/
dist/
*.egg-info/


.vscode/
.idea/
.DS_Store

# ===== GENERAL =====

# IDE / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# Misc
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?